<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page Title Goes Here</title>
    <meta name="description" content="Page Description Goes Here">

    <link href="style.css" rel="stylesheet" type="text/css" media="screen" />

  </head>


  <body>



    <header role="banner">

        <img src="franklin_logo.svg" alt="logo">

<br><br>

      <a href="#menu" class="menu-link">Menu</a>

<nav id="menu" role="navigation">
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="#">Products</a></li>
      <li><a href="services.html">Services</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
</nav>

     </header>

     <main role="main">

          <div id="about_column">

              <h1>Who We Are</h1>

            <p id="about_text">Franklin County Family & Community Services are public agencies created by the
              state of Ohio to provide mental health, developmental disability and/or substance
              abuse services to residents of Franklin County and its surrounding areas.
            </p>
          </div>




          <div id="about_column">

              <h1>Our Philosphy</h1>

            <p id="about_text">To maximize satisfaction and outcomes through respectful,
              evidence-based treatment and interventions, with responsible use of resources.
              We strive for individual empowerment, passion for innovation and integrity,
              customer-driven care and support and a focus on community.
            </p>
          </div>



          <div id="about_column">

              <h1>Job Openings</h1>

            <p id="about_text">
              <ul>
                <li>Job Opening #1</li>
                <li>Job Opening #2</li>
                <li>Job Opening #3</li>
                <li>Job Opening #4</li>
            </p>
          </div>

      </main>

     <footer class="clearfix" role="contentinfo">

<ul>
  <li>Footer Link 1</li>
  <li>Footer Link 2</li>
  <li>Footer Link 3</li>
  <li>Footer Link 4</li>
  <li>Footer Link 5</li>
  <li>Footer Link 6</li>
  <li>Footer Link 7</li>
  <li>Footer Link 8</li>
  <li>Footer Link 9</li>
  <li>Footer Link 10</li>
  <li>Footer Link 11</li>
  <li>Footer Link 12</li>
     </footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="script.js"></script>


  </body>
</html>
