<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Franklin County Family and Community Services</title>
    <meta name="description" content="We provide mental health, developmental disabilty, and/or substance abuse
    services to Franklin County Residents.">

    <link href="style.css" rel="stylesheet" type="text/css" media="screen" />

  </head>

  <body>



    <header role="banner" class="clearfix">
      <div class="logo">
        <img src="franklin_logo.svg" alt="logo">
      </div>
      <a href="#menu" class="menu-link">Menu</a>

    <nav id="menu" role="navigation">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>

          <li><a href="donate.html">Donate</a></li>
        </ul>
    </nav>

     </header>

     <main role="main">

          <div id="about_who">

              <img class="about_photos" src="images/who.jpg" alt="who we are">

              <h1>Who We Are</h1>

            <p id="about_text">Franklin County Family & Community Services are public agencies created by the
              state of Ohio to provide mental health, developmental disability and/or substance
              abuse services to residents of Franklin County and its surrounding areas.
            </p>
          </div>




          <div id="about_philosophy">

            <img class="about_photos" src="images/philosophy.jpg" alt="philosophy">

              <h1>Our Philosophy</h1>

            <p id="about_text">To maximize satisfaction and outcomes through respectful,
              evidence-based treatment and interventions, with responsible use of resources.
              We strive for individual empowerment, passion for innovation and integrity,
              customer-driven care and support and a focus on community.
            </p>
          </div>


          <div id="about_jobs">

            <img class="about_photos" src="images/jobs.jpg" alt="jobs">

              <h1>Job Openings</h1>

            <p id="about_text">
                <a href="#">Community Manager</a>
                <br><a href="#">Volunteer Coordinator</a>
                <br><a href="#">Social Media Manager</a>
                <br><a href="#">Social Services Director</a>
            </p>
          </div>

      </main>

      <footer class="clearfix" role="contentinfo">


        <dl>
          <div class="contact">
          <dt>Address:</dt>
          <dd>5995 Franklin Street
          <br>
        Akron, OH 44503</dd>

          </div>
          <div class="contact">
          <dt>Phone:</dt>
            <dd>330-858-9923</dd> </div>
        </dl>
      </footer>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="script.js"></script>


  </body>
</html>
