<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page Title Goes Here</title>
    <meta name="description" content="Page Description Goes Here">

    <link href="style.css" rel="stylesheet" type="text/css" media="screen" />

  </head>
  <body>


    <header role="banner">

        <img src="franklin_logo.svg" alt="logo">

<br><br>

      <a href="#menu" class="menu-link">Menu</a>

<nav id="menu" role="navigation">
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="services.html">Services</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Volunteer</a></li>
      <li><a href="donate.html">Donate</a></li>
    </ul>
</nav>

     </header>

     <main>

          <div id="about_column">

          <div>    <h1>Donate Now (button)</h1> </div>

            <p id="about_text">We work tirelessly addressing rural poverty,
              ensuring our youth thrive, building vibrant communities and
              providing innovative rural nonprofit leadership. Your gift is a
              powerful investment in hope.
            </p>
          </div>




          <div id="about_column">

              <h1>Give by Mail</h1>

            <p id="about_text">Send your checks payable to:
              Franklin County Family & Community Services to:
              Franklin County Community Services
              5995 Franklin Street, Akron OH 44503
            </p>
          </div>


          <div id="about_column">

              <h1>Other Donations</h1>

            <p id="about_text">Non-perishable food or personal care items help
              support Franklin County and aides those we serve. If you wish to
              donate such items to Franklin County , please call us in advance
              so that we may make any necessary arrangements. Additionally,
              many businesses support Franklin County  through gift-in-kind
              donations to specific fundraising events. By providing
              merchandise or services, businesses publicly show their care and
              concern for the communities in which they do business while also
              increasing awareness of their brand, product or service.
            </p>
          </div>

          <div id="about_column">

              <h1>Matching Gifts</h1>

            <p id="about_text">Matching gift programs are a wonderful way for
              employees to stretch their charitable dollars at no cost to
              themselves. Simply ask your company’s human resource office,
              personnel department or community relations office if your
              company has a matching gift program. If so, ask for a matching
              gift form.
            </p>
          </div>

          <div id="about_column">

              <h1>Gifts of Stock</h1>

            <p id="about_text">There can be great tax benefits for donating
              appreciated securities that you've held for more than 12 months.
            </p>
          </div>

          <div id="about_column">

              <h1>Tax Info</h1>

            <p id="about_text">Franklin County Family and Community Services is
              a nonprofit, tax-exempt charitable organization under Section
              501(c)(3) of the Internal Revenue Code. Donations are
              tax-deductible as allowed by law.
            </p>
          </div>

      </main>

      <footer class="clearfix" role="contentinfo">

      <h2>Franklin County Family &amp; Community Services</h2>
        <dl>
          <div class="contact">
          <dt>Address:</dt>
          <dd>5995 Franklin Street</dd>
          <dd>Akron, OH 44503</dd>
          </div>
          <div class="contact">
          <dt>Phone:</dt>
            <dd>330-858-9923</dd> </div>
        </dl>
      </footer>

  </body>
</html>
