<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page Title Goes Here</title>
    <meta name="description" content="Page Description Goes Here">

    <link href="style.css" rel="stylesheet" type="text/css" media="screen" />

  </head>

  <body>



    <header role="banner">

        <img src="franklin_logo.svg" alt="logo">

<br><br>

      <a href="#menu" class="menu-link">Menu</a>

<nav id="menu" role="navigation">
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="#">Products</a></li>
      <li><a href="services.html">Services</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
</nav>

     </header>
     
     <main>

          <div id="home_image">
        <br><br>
          <p id="home_quote">(text above image) We provide mental health, developmental disabilty, and/or substance abuse
            services to Franklin County Residents.
          </p>

            <a href="#" id="home_button">
              Learn more about us
            </a>

          </div>

      </main>

     <footer>

<ul>
  <li>Footer Link 1</li>
  <li>Footer Link 2</li>
  <li>Footer Link 3</li>
  <li>Footer Link 4</li>
  <li>Footer Link 5</li>
  <li>Footer Link 6</li>
  <li>Footer Link 7</li>
  <li>Footer Link 8</li>
  <li>Footer Link 9</li>
  <li>Footer Link 10</li>
  <li>Footer Link 11</li>
  <li>Footer Link 12</li>
     </footer>

  </body>
</html>
