<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Franklin County Family and Community Services</title>
    <meta name="description" content="We provide mental health, developmental disabilty, and/or substance abuse
    services to Franklin County Residents.">

    <link href="style.css" rel="stylesheet" type="text/css" media="screen" />

  </head>

  <body>



    <header role="banner" class="clearfix">
      <div class="logo">
        <img src="franklin_logo.svg" alt="logo">
      </div>
      <a href="#menu" class="menu-link">Menu</a>

    <nav id="menu" role="navigation">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Volunteer</a></li>
          <li><a href="donate.html">Donate</a></li>
        </ul>
    </nav>

     </header>

     <main>



          <div id="home_image">






            <p id="home_quote">We provide mental health, developmental disabilty, and/or substance abuse
            services to Franklin County Residents.
          </p>

            <a href="about.html" id="home_button">
              Learn more about us
            </a>

          </div>




      </main>

      <footer class="clearfix" role="contentinfo">


        <dl>
          <div class="contact">
          <dt>Address:</dt>
          <dd>5995 Franklin Street
          <br>
        Akron, OH 44503</dd>

          </div>
          <div class="contact">
          <dt>Phone:</dt>
            <dd>330-858-9923</dd> </div>
        </dl>
      </footer>




     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
     <script src="script.js"></script>

  </body>
</html>
