<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page Title Goes Here</title>
    <meta name="description" content="Page Description Goes Here">

    <link href="style.css" rel="stylesheet" type="text/css" media="screen" />

  </head>


  <body>



    <header>

        <img src="franklin_logo.svg" alt="logo">



      <a href="#menu" class="menu-link">Menu</a>

      <nav id="menu" role="navigation">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Volunteer</a></li>
            <li><a href="donate.html">Donate</a></li>
          </ul>
      </nav>

     </header>

     <main>

          <div id="services_column">

              <h1>Services</h1>

            <p id="services_text"><h2>Child and Adolescent Services</h2>
              Bright Changes is the Franklin County program for children and adolescents. The Bright Changes program is a comprehensive, youth guided, family driven and community supported mental health and substance abuse system of care, which provides quality care in a culturally competent manner that addresses the needs of the whole person. Bright Changes services will be available to children and adolescents ages 5 years through 21 years. The staff will provide services in both the outpatient clinics and in the community.
              We accept Medicaid, PeachCare, or other Insurance and can also make other financial arrangements using a self-pay sliding fee scale.
              For services, call 770-422-0202 and ask for Bright Changes.
              <h2>Developmental Disabilities</h2>
              CHOICES 2: Innovative Community Services is the Developmental Disabilities Services department. CHOICES 2 offers the following innovative community service programs:
              Supported Employment
              Prevocational Services
              Community Access Services
              Day Service Programs
              W.O.W. (With Out Walls)
              Residential
              Community Residential Alternative (CRA)
              Community Living Support (CLS) Services
              Family Support
              <h2>Substance Abuse (Addictive Disease)</h2>
              The Cobb Recovery Center (CRC) is the site of our substance abuse/addictive disease treatment programs. Services offered at the CRC include:
              Aftercare
              Case Management
              Childcare
              Family Therapy
              GED Enrichment
              Group Therapy
              HIV Education and Prevention
              Individual Therapy
              Medical Nurse Services
              Multi-Family Education
              Parenting Classes
              Psychiatric Referrals
              Residential Services
              Substance Abuse Evaluation
              Trauma Recovery
              CRC services are provided by Certified Addiction Counselors and Licensed Professional Counselors who have extensive experience in the field of addiction, recovery, and relapse prevention.

            </p>
          </div>



      </main>

      <footer class="clearfix" role="contentinfo">

      <h2>Franklin County Family &amp; Community Services</h2>
        <dl>
          <div class="contact">
          <dt>Address:</dt>
          <dd>5995 Franklin Street</dd>
          <dd>Akron, OH 44503</dd>
          </div>
          <div class="contact">
          <dt>Phone:</dt>
            <dd>330-858-9923</dd> </div>
        </dl>
      </footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="script.js"></script>


  </body>
</html>
