@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Roboto);

body {

  padding: 0;
  margin: 0;
  font-family: 'Roboto Slab', Georgia, serif;
  color: #848484;
}


p {
  font-size: 1em;
}


main {
text-align: center;
}


ul {
  list-style-type: none;
}

header {
  width: 100%;
  background-color: #20accf;
  display: absolute;
}

a {
  color: #4A708B;
}

hr {
  margin-top: 2em;
}

.roboto {
  font-family: 'Roboto';
  font-size: 1.5em;
}

.roboto_slab {
  font-size: 1.5em;
}

.swatch-blue {
  background-color: #20accf;
  width: 75px;
  height: 75px;
}

.swatch-gray {
  background-color: #848484;
  width: 75px;
  height: 75px;
}

.swatch-red {
  background-color: #ff6666;
  width: 75px;
  height: 75px;
}


.logo {
width: 200px;
  float: left;
}

.logo img {
  width: 100%;
}


a.menu-link {
  	    display: block;
        float: right;
		    padding-top: 1em;
        padding-right: 2em;
		}
		nav[role=navigation] {
			clear: both;
			-webkit-transition: all 0.3s ease-out;
			-moz-transition: all 0.3s ease-out;
			-ms-transition: all 0.3s ease-out;
			-o-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;
		}
		.js nav[role=navigation] {
			overflow: hidden;
			max-height: 0;
		}
		nav[role=navigation].active {
			max-height: 15em;
		}
		nav[role=navigation] ul {
			margin: 0;
			padding: 0;
			border-top: 1px solid rgba(255, 255, 255, 0.2);
		}
		nav[role=navigation] li a {
			display: block;
			padding: 0.8em;
			border-bottom: 1px solid rgba(255, 255, 255, 0.2);;
		}



.about_photos {
  margin-top: 1.5em;
  width: 200px;
  height: 200px;
  border-radius: 100px;
}


.menu-link{
  color: white;
  font-family: 'Roboto Slab', Georgia, serif;
}



footer {
  padding: 2em 0 1em 0;
  color: white;
  text-align: center;
  background-color: #20accf;
}

dd {
  margin-left: 0;
  margin-bottom: 1em;
  line-height: 1.5em;
}

dt {
  margin-bottom: .5em;
  font-weight: bold;
}

dl {
  margin-top: 0;
}

.pattern_library {
  padding: 2em;
}

#menu a {
  color: white;
  font-family: 'Roboto Slab', Georgia, serif;
  text-align: center;
  text-decoration: none;
}

h1 {
  margin-top: 1em;
  color: #ff6666;
  font-family: 'Roboto Slab', Georgia, serif;
}

h2 {
  color: #cc5151;
  font-family: 'Roboto', Arial, sans-serif;
  text-transform: uppercase;
}

#home_image {
  background-image: url("images/home_bg.png");
  margin-top: 0;
  padding: 3em;

  background-size: cover;
  background-position: center;
}


#home_quote {
  font-size: 1.5em;
  color: white;
  font-family: 'Roboto Slab', Georgia, serif;
  font-weight: 200;
  padding: 1.5em;
  text-shadow: 0px 0px 1em #000000;
  margin-top: 0;
}


#home_button {
  font-size: 1em;
  color: white;
  font-family: 'Roboto Slab', Georgia, serif;
  display: inline-block;
  text-shadow: 0px 0px 1em #000000;
  border-style: solid;
  border-width: 2px;
  padding: 1em;
  text-decoration: none;
}

#about_text {
  padding: 1em;
}


#donate_text {
  padding: .5em;
max-width: 600px;
margin: 1em auto;


}


#donate_intro {
  padding: .5em;
max-width: 900px;
margin: 1em auto;
font-size: 2em;
font-weight: 200;


}


p {
  font-size: 1em;
}


.clearfix:before, .clearfix:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* IE < 8 */
}




#donate_button {

  border-style: solid;
  border-color: #ff6666;
  margin: 1em;
  margin-top: 1.5em;
  padding: 1em;
  font-size: 2em;
  color: #ff6666;
  display: inline-block;
  border-radius: .5em;
  text-decoration: none;


}


#donate_button:hover, #donate_button:focus {
    background-color: #ff6666;;
    color: white;
}


@media screen and (min-width: 700px) {
  #about_who {
    max-width: 400px;
    margin: 0 auto;
  }

  #about_philosophy {
    max-width: 400px;
    margin: 0 auto;
  }

  #about_jobs {
    max-width: 400px;
    margin: 0 auto;
  }
}



@media screen and (min-width:900px) {
  a.menu-link {
     display: none;
  }

  .js nav[role=navigation] {
    max-height: none;
    display: inline-block;
    float: right;
    clear: none;
    padding-top: .85em;
    padding-right: 2em;
  }

  nav[role=navigation] ul {
    border: 0;
    float: right;
  }

  nav[role=navigation]  li {
    display: inline-block;
  }

  nav[role=navigation] li a {
    border: 0;
      float: right;
  }

  .logo {
  width: 300px;
    float: left;
  }

  #home_quote {
    font-size: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}



#about_who {
  float: left;
  width: 33%;
}

#about_philosophy {
  float: left;
  width: 33%;
}

#about_jobs {
  float: left;
  width: 33%;
}


footer {
  clear: both;
}



}


@media screen and (max-width: 500px) {
  #donate_intro {

  font-size: 1.3em;
  padding: 1em;

  }

  p {
    padding: 0.75em;
  }
}
