@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300);


body {
  max-width: 1000px;
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}


p {
  font-size: 1em;

}







header {
  background-image: url("images/home_bg.png");
  background-size: cover;
  background-position: center;
padding: 2em;
}



header img {
  width: 100%;
  height: 100%;
}

.navigation li {
  list-style: none;
}


.navigation li a {
  		display: block;
			border: 2px solid;
			margin: 1em;
      padding: .5em;
      list-style: none;
      font-family: 'Roboto Slab', Georgia, sans-serif;
		}

.navigation li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

		@media all and (min-width: 40em) {
			.navigation li {
				display: inline-block;
				margin: 0 0.5em;
			}
			.navigation li a {
				padding: 1em 0.5em;
				border: 0;
			}
		}


.navigation {
  color: white;
  font-size: 1.5em;
  margin-top: 2em;
  text-align: center;
  line-height: 1em;
  width: 100%;

}



}


main, footer {
  display: none;
}



li a {
  color: inherit;
  margin: 0;
  text-decoration: none;
  padding: 0;
  border-style: none;
}
